---
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import BlogLayout from "@layouts/BlogLayout.astro";
import Container from "@components/container.astro";

export const prerender = false;


// export async function getStaticPaths() {
//   const sbApi = useStoryblokApi();

//   const { data } = await sbApi.get("cdn/stories", {
//     content_type: "Article",
//     version: "published",
//   });

//   const stories = Object.values(data.stories);

//   return stories.map((story: any) => {
//     return {
//       params: { slug: story.slug },
//     };
//   });
// }
 
const { slug } = Astro.params 
const storyblokApi = useStoryblokApi()
 
const { data } = await storyblokApi.get(
  `cdn/stories/sessions/${slug}`,
  {
  version: 'published' // Only fetch published articles
}
)
 
const story = data.story
---

<BlogLayout title={story.content.title} desc={story.content.content}>
  <Container>
    <StoryblokComponent blok={story.content} publishedAt={new Date(story.created_at)} />
    <div class="text-center mt-8">
      <a
        href="/sessions"
        class="bg-slate-300 text-black px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Sessions</a
      >
    </div>
  </Container>
</BlogLayout>