<footer class="my-20">
  <p class="text-center text-sm text-slate-400">
    Copyright Â© {new Date().getFullYear()} Yoga Light Wave. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-400 mt-1">
    Web Design by Andrew Bustos <a
      href="https://soloiron.dev"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      (Solo Iron)
    </a>
  </p>
</footer>
