---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "../styles/globals.css";
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>The Storyblok Astro Ultimate Tutorial: Part 2</title>
  </head>
  <body class='mx-auto'>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>